<meta charset="UTF-8">
<title><%= htmlWebpackPlugin.options.page.title || 'CGTN' %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- Icon -->
<link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>/images/favicon.png" type="image/x-icon">
<link rel="apple-touch-icon" href="<%= webpackConfig.output.publicPath %>/images/favicon.png">

<!-- CSS -->
<% for (var css in htmlWebpackPlugin.files.css) { %>
    <% if(htmlWebpackPlugin.files.css[css].indexOf(htmlWebpackPlugin.options._entry) !== -1) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>?v=<%= version%>" rel="stylesheet">
    <% } %>
<% } %>

<!-- Analytics -->

<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>